@inject IHttpContextAccessor _contextAccessor

@* Not used but this is how you would use session variables*@
@model Customer
<h2>My Banking Hub</h2>
<h3>Personal Info</h3>
<table class="table">
@*    <tr>
        <th>Account ID</th>
        <th>Account Type</th>
        <th>Make Transaction</th>
        <th>Balance</th>

    </tr>
    <tr>
        <td>@Model.userid</td>
        <td>@Model.name</td>
        <td>$@Model.emailaddress</td>
        <td>
            <label for="Transaction">Transaction Type:</label>
            <select id="Transaction" name="Transaction">
                <option value=""></option>
                <option value="deposit">Deposit</option>
                <option value="withdraw">Withdraw</option>
            </select>
        </td>
                    <td><a asp-controller="customer" asp-action="overview">Account</a></td>


    </tr>*@
    <tr>
        <th>User ID</th>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Accounts</th>
    </tr>
    <tr>
        <td>@Model.userid</td>
        <td>@Model.name</td>
        <td>@Model.phonenumber</td>
        <td>@Model.emailaddress</td>
        <td><a asp-controller="home" asp-action="LoadAccounts">View</a></td>

    </tr>
</table>


<a asp-controller="customer" asp-action="logout">Logout</a>
