@inject IHttpContextAccessor _contextAccessor
@model IEnumerable<Account>
@*<h2>@_contextAccessor.HttpContext.Session.GetString("")</h2>
*@<h3>Personal Info</h3>
<table class="table">
    <tr>
        <th>Account ID</th>
        <th>Account Type</th>
        <th>Balance</th>
    </tr>
    @foreach(var account in Model)
    {
        <tr>
            <td><form method="post" asp-controller="Account" asp-action="ChosenAccount"><input type="submit" value="@account.accountid" name="testing" /></form></td>
            @{
                _contextAccessor.HttpContext.Session.SetInt32("accountid", account.accountid);

            }
            @*<td><a href="/Account/Transfer/@account.accountid"> @account.accountid</a></td>*@
            @*<td><a id="@account.accountid" asp-controller="account" asp-action="Transfer">@account.accountid</a></td>*@
            <td>@account.accounttype</td>
            <td>$@account.balance</td>

        </tr>
    }
</table>

<a asp-controller="customer" asp-action="logout">Logout</a>
