@model Customer

<h2>Update Customer Info </h2>



@using (Html.BeginForm("UpdateCustomerToDatabase", "Customer", "Post"))
{
    <input asp-for="userid" type="hidden" value="@Model.userid" />

    <label asp-for="name" class="control-label">FullName</label>

    <input id="txt" type="text" name="name" class="form-control" value="@Model.name" />

    <label asp-for="phonenumber" class="control-label">PhoneNumber</label>
    <input id="txt" type="text" name="phonenumber" class="form-control" value="@Model.phonenumber" />

    <label asp-for="emailaddress" class="control-label">EmailAddress</label>
    <input id="txt" type="text" name="emailaddress" class="form-control" value="@Model.emailaddress" />


    <label asp-for="login" class="control-label">Login</label>
    <input id="txt" type="text" name="login" class="form-control" value="@Model.login" />

    <label asp-for="password" class="control-label">Password</label>
    <input id="txt" type="text" name="password" class="form-control" value="@Model.password" />

    <input id="update" type="submit" value="Update" class="btn btn-primary" />


}